<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Lorem App</title>
      <!--| Bootstrap core CSS |-->
      <link href="./css/bootstrap.min.css" rel="stylesheet">
      <!--| Custom styles for this template |-->
      <link href="./css/main.css" rel="stylesheet">
   </head>
   <body>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top dark-header">
         <div class="container">
            <div class="float-left"><a class="navbar-brand" href="#"><img src="./img/incedo-header-logo.png" width="130" alt="Incedo"></a></div>
            <!-- <div class="float-right hackathon">Hackathon 2018</div>  -->
         </div>
      </nav>
      <!-- Scroll Body -->
      <div class="container">
         <div class="card-holder">
            <div class="clearfix">
               <div class="float-left">
                  <h3><a href="#" class="previous">&#8249;</a>Gaurav Gupta</h3>
                  <p>Base score weightage</p>
               </div>
               <div class="float-right">
                  weightage
               </div>
            </div>
            <div class="cards-pack">
              <form action="#">
               <div class="row">
                  <div class="col-md-4">
                     <div class="card-block">
                        <h6>Notice period </h6>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="card-block">
                        <h6>Owns existing offer </h6>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="card-block">
                        <h6>Did we offer more package </h6>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="card-block">
                        <h6>Candidate is from same city</h6>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="card-block">
                        <h6>Candidate is single and from other city </h6>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="card-block">
                        <h6>Candidate is from some top company </h6>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="card-block">
                        <h6>Candidate was not actively looking for change</h6>
                     </div>
                  </div>
               </div>
</form> 
            </div>
         </div>
      </div>
      <!--| Bootstrap core JavaScript |-->
      <script src="./js/popper.min.js"></script>
      <script src="./js/popper.min.js"></script>
      <script src="./js/bootstrap.min.js"></script>
      <script src="./js/main.js"></script>
   </body>
</html>
</body>
</html>