{% load tags %}
{% getList as result %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lorem App</title>

    <!--| Bootstrap core CSS |-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!--| Custom styles for this template |-->
    <link href="/static/css/main.css" rel="stylesheet">

  </head>

  <body>


   <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top dark-header">
      <div class="container">
        <div class="float-left"><a class="navbar-brand" href="#"><img src="/static/img/incedo-header-logo.png" width="130"
                alt="Incedo"></a></div>
        <!-- <div class="float-right hackathon">Hackathon 2018</div>  -->
      </div>
    </nav>


   <!-- Scroll Body -->
    <div class="container">
      <div class="card-holder clearfix">

        <div class="float-left">
          <h3>Candidate List</h3>
          <p>Here is list of Candidate shortlisted.</p>
        </div>

        <div class="float-right">
          <button type="button" class="btn btn-primary addbutton"><span class="glyphicon glyphicon-plus"></span>Add Resource</button>
        </div>

        <table class="table table-hover table-fixed">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Skills</th>
                <th>Weightage</th>
              </tr>
            </thead>
            <tbody>
              {% autoescape off %}{{ result }}{% endautoescape %}
            </tbody>
          </table>

      </div>
    </div>

    <!--| Bootstrap core JavaScript |-->
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>


</body>
</html>
